body, .container {
  background: black;
}
#main {
  background: #eeeeee;
}
#canvas-container {
  margin-left: auto;
  margin-right: auto;
  width: 940;
}
.no-margin {
  margin: 0 !important;
}
.margin-top {
  margin-top: 12px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row {
  background: #eeeeee;
}
.intro {
  padding-top: 12px;
  width: 66%;
  float: left;
}
.image-container {
  width: 33%;
  float: right;
  margin-top: -66px;
}
.image-container img {
  float: right;
}
.hero-unit {
  padding: 12px 48px;
  margin-bottom: 12px;
}
.hero-unit h1 {
  font-family: 'Contrail One', cursive;
}
.well {
  padding: 4px 12px;
  font-size: 10px;
}
